<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'expense/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'expense/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

{% include "expense/sidebar.html" %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

      {% include "expense/topbar.html" %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

                </div>
                    <center><small class="text-muted">
                        {% for start in start %}
                          You started with Rs. {{ start.amount }} balance on {{ start.date }}
                        {% endfor %}
                    </small></center> <br/>
                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Current Balance
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{% if balance < 0 %}
                                            You don't have money!
                                            {% else %}
                                            Rs. {{ balance }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-auto">
<!--                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>-->
                                        <i class="fas fa-2x fa-hand-holding-usd text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Earnings (Total Income)
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"> {% if totalIncome == 0 %}
                                            No data stored!
                                            {% else %}
                                            Rs. {{ totalIncome }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Spendings (Total Expenses)
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    {% if totalexp == 0 %}
                                                    No data stored!
                                                    {% else %}
                                                    Rs. {{ totalexp }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
<!--                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
                                        <i class="fas fa-2x fa-store text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Overspending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Overspending
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {% if diff > 0 %}
                                            Rs. {{ diff }}
                                            {% else %}
                                            You haven't overspent yet.
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-auto">
<!--                                        <i class="fas fa-comments fa-2x text-gray-300"></i>-->
                                        <i class="far fa-2x fa-credit-card text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-4 col-lg-7">
                        <div class="card shadow mb-4 h-100">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Your last five incomes.</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                     <table class="table table-striped table-bordered" >
                                        <thead>
                                          <tr>
                                            <th>Title</th>
                                            <th>Amount</th>
                                          </tr>
                                        </thead>
                                        <tbody>

                                           {% for income in firstFiveinc %}
                                           <tr>
                                            <td>{{ income }}</td><td>Rs. {{ income.amount }}</td>

                                          </td></tr>
                                            {% endfor %}
                                        </tbody>
                                      </table>
                                         <a href="{% url 'add_income' %}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-plus-square" aria-hidden="true"></i>   Add an income</a>
                                         <a href="{% url 'all_incomes' %}" class="btn btn-primary btn-sm float-right" role="button"><i class="fa fa-info-circle" aria-hidden="true"></i>   View all</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-7">
                        <div class="card shadow mb-4 h-100">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Your last five expenses.</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <table class="table table-striped table-bordered" >
                                        <thead>
                                          <tr>
                                            <th>Title</th>
                                            <th>Amount</th>
                                          </tr>
                                        </thead>
                                        <tbody>

                                           {% for expense in firstFiveexp %}
                                           <tr>
                                            <td>{{ expense }}</td><td class="amount">Rs. {{ expense.amount }}</td>

                                          </td></tr>
                                            {% endfor %}
                                        </tbody>
                                      </table>
                                        <a href="{% url 'add_expense' %}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-plus-square" aria-hidden="true"></i>   Add an expense</a>
                                        <a href="{% url 'all_expenses' %}" class="btn btn-primary btn-sm float-right" role="button"><i class="fa fa-info-circle" aria-hidden="true"></i>   View all</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-7">
                        <div class="card shadow mb-4 h-100">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Expense Breakdown</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-10 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Aayush Manandhar, 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include "expense/logoutmodal.html" %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'expense/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'expense/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'expense/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'expense/js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'expense/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<!--<script src="{% static 'expense/js/demo/chart-area-demo.js' %}"></script>-->
<script>
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: [{% for category in catlist %}'{{ category }}',{% endfor %}],
    datasets: [{
      data: [{% for list in list %} {{ list }}, {% endfor %}],
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#bae1ff', '#ffb3ba', '#db27c5', '#835bab'],
      hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: true


    },
    cutoutPercentage: 80,
  },
});



</script>




</body>

</html>